<div class="app">
  <h1 class="title">Storybox option 2</h1>
</div>

<div class="container">
  <p></p>
    <label for="exampleRecipientInput">What body do you want???</label>
    <select name="bodyOption" class="u-full-width" id="exampleRecipientInput">
      <option value="1">Body 1</option>
      <option value="2">Body 2</option>
      <option value="3">Body 3</option>
    </select>
</div>
