<div class="app">
  <h1 class="title">Act 2...</h1>
</div>

<div class="container">
  <p></p>
    <label class="story" for="exampleRecipientInput">To recover from this horrifying incident, you make your way slowly downstairs to the kitchen to eat your leftover Dominos meatlovers pizza... sadly upon entering the kitchen, you find a terrifying creature clearly had the munchies and has gotten to it before you... you notice the creature has some interesting features which you can only just make out as...  </label>
    <select name="bodyOption" class="u-full-width" id="exampleRecipientInput">
      <option value="1">Flippers</option>
      <option value="2">Pincers</option>
      <option value="3">Wings</option>
    </select>
</div>
