<div class="app">
  <h1 class="title">Storybox option 2</h1>
</div>

<div class="container">
  <p></p>
    <label for="exampleRecipientInput">What body do you want???</label>
    <select name="bodyOption" class="u-full-width" id="exampleRecipientInput">
      <option value="1">Flippers</option>
      <option value="2">Pincers</option>
      <option value="3">Wings</option>
    </select>
</div>
