<div class="container altbackground">
  <h1 class="title">Storybox option 1</h1>
</div>

<div class="container altbackground">
  <p></p>
    <label for="exampleRecipientInput">What head do you want???</label>
    <select name="headOption" class="u-full-width" id="exampleRecipientInput">
      <option value="1">Bull</option>
      <option value="2">Elephant</option>
      <option value="3">Fly</option>
    </select>
</div>
