<div class="container altbackground">
  <h1 class="title">Act 1... </h1>
</div>

<div class="container altbackground">
  <p></p>
    <label class="story" for="exampleRecipientInput">You awake screaming in the dead of night... you've just seen a most terrifying creature, representing your deepest fears! Naturally it could only be one of three possible creatures... with the head of a...</label>
    <select name="headOption" class="u-full-width" id="exampleRecipientInput">
      <option value="1">Bull</option>
      <option value="2">Elephant</option>
      <option value="3">Fly</option>
    </select>
</div>
