<div class="container altbackground">
  <h1 class="title">Act 3...</h1>
</div>

<div class="container altbackground">
  <p></p>
    <label class="story" for="exampleRecipientInput">To exit from this bizarre situation as quickly as possible you decide to evolve some interesting features to help you escape...</label>
    <select name="legOption" class="u-full-width" id="exampleRecipientInput">
      <option value="1">Frog legs</option>
      <option value="2">Fishtail</option>
      <option value="3">Tentacles</option>
    </select>
</div>
