<div class="container altbackground">
  <h1 class="title">Storybox option 3</h1>
</div>

<div class="container altbackground">
  <p></p>
    <label for="exampleRecipientInput">What legs do you want???</label>
    <select name="legOption" class="u-full-width" id="exampleRecipientInput">
      <option value="1">Frog legs</option>
      <option value="2">Fishtail</option>
      <option value="3">Tentacles</option>
    </select>
</div>
