<div class="container altbackground">
  <h1 class="title">Storybox option 3</h1>
</div>

<div class="container altbackground">
  <p></p>
    <label for="exampleRecipientInput">What legs do you want???</label>
    <select name="legOption" class="u-full-width" id="exampleRecipientInput">
      <option value="1">Legs 1</option>
      <option value="2">Legs 2</option>
      <option value="3">Legs 3</option>
    </select>
</div>
