<div class="container">
  <p></p>
    <label for="nameInput">What name will you give your Chimera??</label>
    <textarea class="u-full-width" placeholder="Bill Murray" id="nameInput" name="name"></textarea>
    <!-- <input type="submit" value="Submit"> -->
</div>
