<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chimera</title>
    <link href="https://fonts.googleapis.com/css?family=Spirax" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

    <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" integrity="sha256-ECB9bbROLGm8wOoEbHcHRxlHgzGqYpDtNTgDTyDz0wg=" crossorigin="anonymous" />
    <link rel="stylesheet" href="/main.css">
  </head>

  <body>
    <div class="app">
      <h1 class="title">Chimera</h1>
      <p></p>
    </div>

    <div class="app">
      <h1 class="title">Welcome</h1>
      <h1 class="title">It's time to start your adventure!</h1>
    </div>

    <div class="container">
      <p></p>
      <form>
        <label for="nameInput">What is your name?</label>
        <textarea class="u-full-width" placeholder="Bill Murray" id="nameInput"></textarea>
        <input type="submit" value="Submit">
      </form>
    </div>

    <div class="app">
      <h1 class="title">Storybox option 1</h1>
    </div>

    <div class="container">
      <p></p>
      <form>
        <label for="exampleRecipientInput">What ever will you do???</label>
        <select class="u-full-width" id="exampleRecipientInput">
          <option value="Option 1">Questions</option>
          <option value="Option 2">Admiration</option>
          <option value="Option 3">Can I get your number?</option>
        </select>
        <input type="submit" value="Submit">
      </form>
    </div>

    <div class="app">
      <h1 class="title">Storybox option 2</h1>
    </div>

    <div class="container">
      <p></p>
      <form>
        <label for="exampleRecipientInput">What ever will you do???</label>
        <select class="u-full-width" id="exampleRecipientInput">
          <option value="Option 1">Questions</option>
          <option value="Option 2">Admiration</option>
          <option value="Option 3">Can I get your number?</option>
        </select>
        <input type="submit" value="Submit">
      </form>
    </div>

    <div class="app">
      <h1 class="title">Storybox option 3</h1>
    </div>

    <div class="container">
      <p></p>
      <form>
        <label for="exampleRecipientInput">What ever will you do???</label>
        <select class="u-full-width" id="exampleRecipientInput">
          <option value="Option 1">Questions</option>
          <option value="Option 2">Admiration</option>
          <option value="Option 3">Can I get your number?</option>
        </select>
        <input type="submit" value="Submit">
      </form>
    </div>

    <div class="app">
      <h1 class="title">All will be revealed...</h1>
      <p></p>
    </div>

    <div class="app">
      {{{body}}}

    </div>
  </body>

</html>
