<div class="container">
  {{#each puppies}}
    {{> puppyPreview puppy=this}}
    <!-- <div class="puppy-list">
      <a href="/puppies/{{id}}"><img class="img-circle" src="{{image}}" alt="{{name}}"></a>
    </div> -->
  {{/each}}
</div>
