<div class="container">

<form class="form" action="/puppies/new" method="post">
  <label for="name" class="form-item">
    Name:
    <input type="text" name="name" id="name">
  </label>

  <label for="breed" class="form-item">
    Breed:
    <input type="text" name="breed" id="breed">
  </label>

  <label for="owner" class="form-item">
    Owner:
    <input type="text" name="owner" id="owner">
  </label>

  <label for="image" class="form-item">
    Image:
    <input type="text" name="image" id="image">
  </label>

  <input type="submit" name="" value="Submit">
</form>
<!-- /images/josh-felise-10266.jpg -->
</div>
