<div class="container">

<form class="form" action="/puppies/rehome" method="post">
  <label for="name" class="form-item">
     Name of puppy you want to rehome:
    <input type="text" name="name" id="name">
  </label>

  <input type="submit" name="" value="Submit">
</form>

</div>
