body {
  background-color: #64d8cb;
  font-family: 'Spirax', cursive;
}

.head {
  /*background-image: url(/images/A-head-bull.jpg);
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;*/
  /*width: 100%;*/
  /*height: 30vh;*/
  margin-bottom: -7px;
  margin-top: 0px;
}
image {
  height: 30vh
}
.body {
  /*background-image: url(/images/B-torso-flippers.jpg);
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;*/
  /*width: 100%;*/
  /*height: 30vh;*/
  margin-bottom: -7px;
  margin-top: 0px;
}

.legs {
  /*background-image: url(/images/C-leg-frog.jpg);
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;*/
  /*width: 100%;*/
  /*height: 30vh;*/
  margin-bottom: 0px;
  margin-top: 0px;
}


.container {
  /*display: flex;
  flex-wrap: wrap;*/
  text-align: center;
}

.altbackground {
  /*background-color: grey;*/
  background-color: #00766c;
}

.app {
  display: flex;
  flex-direction: column;
}

.main-image {
  width: 400px;
  margin: 50px;
  margin-top: 20px;
}

.puppy {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

.img-circle {
  border-radius: 50%;
  object-fit: cover;
  width: 230px;
  height: 230px;
}

.title {
  text-align: center;
}

.nav {
  text-align: center;
  color: black;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}
