body {
  background-color: #64d8cb;
  font-family: 'Spirax', cursive;
}

.head {
  background-image:
}

.body {

}

.legs {

}


.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.altbackground {
  background-color: #00766c;
}

.app {
  display: flex;
  flex-direction: column;
}

.puppy-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

.puppy {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

.img-circle {
  border-radius: 50%;
  object-fit: cover;
  width: 230px;
  height: 230px;
}

.title {
  text-align: center;
}

.nav {
  text-align: center;
  color: black;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}
