<div class="container">
  <div class="head">
    <img src="/images/A-head-bull.jpg" />
  </div>
  <div class="body">
    <img src="/images/B-torso-flippers.jpg" />
  </div>
  <div class="legs">
    <img src="/images/C-leg-frog.jpg" />
  </div>
</div>
