<div class="container">
  <!-- <a href="/">Back</a> -->
  <input type="button" value="Try Again" onClick="window.location.href='/'" />
  <div class="head">
    <img src={{headImage.image}} />
  </div>
  <div class="body">
    <img src={{torsoImage.image}} />
  </div>
  <div class="legs">
    <img src={{legsImage.image}} />
  </div>
</div>
